/* General */
html, body{
    background: linear-gradient(#eee, #fff);
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    font-family: Helvetica,Arial,sans-serif;
    color: #35476b;
}
ul li{
    line-height: 1.5rem;
    padding-left: 0.5rem;
}
.hide{
    display: none !important;
}
.hidden{
    visibility: hidden !important;
}


/* Main & panels */
div#main{
    display: flex;
    justify-content: left;
    align-items: stretch;
    position: relative;
    height: 100%;
    overflow: auto;
}
div#left-pane{
    background: #5f7bbf;
    height:100%;
    width: 6rem;
    min-height: 33rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
div#right-pane{
    height:100%;
    width: 95%;
    margin-left: 7rem;
}
div#right-pane h1{
    font-style: italic;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
}
div#right-pane h2{
    font-style: italic;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}


/* Menu item */
.menu-item{
    color: white;
    text-align: center;
    border: 1px solid #039be5;
    font-size: 2rem;
    cursor: pointer;
    height: 2rem;
    padding: 1rem;
    background:  #5f7bbf;
    border-left: 0 solid  #A8BEF3FF;
    transition: background 200ms ease 100ms,
    padding-left 100ms ease-in-out, padding-left 300ms ease-in-out,
    border-left 100ms ease-in-out, padding-left 300ms ease-in-out;

}
.menu-item:hover{
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background: #42a5f5;
    padding-left: 1rem;
    border-left: 0.3rem solid #A8BEF3FF;
}
.menu-item.is-active{
    background: #42a5f5;
}


/* Network */

.stat-left{
    display: block;
    float: left;
    width: 33%;
}
.stat-right{
    display: block;
    float: left;
}
.stat-right:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.stat-right-item{
    margin-bottom: 1rem;
    width: 100%;
    min-width: 13rem;
    border: 1px solid lightgrey;
    padding: 0.7rem;
    box-shadow: 2px 2px lightgrey;
}
.stat-right-item span[data-content="title"]{
    font-weight: bold;
}
.stat-right-item span[data-content="value"] i{
    float: right;
}

.stat-right-item span[data-sub]{
    display: block;
}
.stat-right-item span[data-sub="average_bitrate"]{
    font-style: italic;
    font-size: small;
    font-weight: normal;
}

div[data-content="video_dimensions"],
div[data-content="ip_connected_to"]{
    font-size: smaller;
}

div[data-content="video_dimensions"] span[data-content="title"],
div[data-content="ip_connected_to"] span[data-content="title"]{
    font-weight: bold;
}


/* Video & room components */
video{
    background-color: black;
}
div#video_container section{
    margin-bottom: 1rem;
}
#main_player {
    width: 80%;
    height: 37.5rem;
}
#second_player {
    display: none;
}


/* Actions */
div.actions {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
div.actions a{
    width: fit-content;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    background: #6c79b8;
}
div.actions a.disabled {
    background: #b4b9d0;
    cursor: not-allowed;
}
div.actions a.disabled:hover {
    background: #c5c7ce;
}
div.actions a:hover{
    background: #5F7BBF;
    color: #eee;
}

/* Results */
div.test-result div a[data-action="test-runner"]{
    display: block;
}

div.test-result div.stat-right-item.test-success{
    border: 1px solid green;
    background-color: #ebf5d6;
}
div.test-result div.stat-right-item.test-success i{
    color: green;
}
div.test-result div.stat-right-item.test-fail{
    border: 1px solid orange;
    background-color: #fff6e9;
}
div.test-result div.stat-right-item.test-fail i{
    color: orange;
}

div.result-status{
    margin-left: 1.2rem;
    font-weight: bold;
}
div.result-status.test-fail{
    color: #ff3131;
}
div.result-status.test-success{
    color:green;
}
div.result-status i:nth-child(1){
    margin-right: 0.7rem;
}




/* Run controls */
div.run-controls{
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
div.run-controls i{
    border: 1px solid #35476b;
    padding: 0.5rem;
}
div.run-controls i[data-action="start"]{
    border-radius: 10px 0 0 10px;
}
div.run-controls i[data-action="stop"]{
    border-radius: 0 10px 10px 0;
}

/* media queries */
@media only screen and (max-width: 40em) {
    div#left-pane{
        min-height: 50rem;
    }
}